//- 
  Create nav-links: navLink(link: str, name: str, 
  max: num, last: bool)

//- mixin navLink(link, name, max, last)
//-
  Вывод с использованием счётчика
  - for (n = 1; n <= max; n++)
    li
      if (last == true && n == max)
        a(href=link).nav-link.last-link=name
      else
        a(href=link).nav-link=name

