aside.sidebar
  .sidebar-nav
    .sidebar-nav__item
      a.sidebar-nav__link.h2.js-nav-button(href='#') Profile
    .sidebar-nav__item
      a.sidebar-nav__link.h2.js-nav-button(href='#') Homework
    .sidebar-nav__item
      a.sidebar-nav__link.h2.js-nav-button.js-nav-button_active(href='#') Sales
