aside.sidebar
  .sidebar-nav
    .sidebar-nav__item
      a.sidebar-nav__link.h2(href='#') Profile
    .sidebar-nav__item
      a.sidebar-nav__link.h2(href='#') Homework
    .sidebar-nav__item
      a.sidebar-nav__link.h2.sidebar-nav__link_active(href='#') Sales
