@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica/Helvetica.eot");
  src: url("../fonts/Helvetica/Helvetica.woff2") format("woff2"), url("../fonts/Helvetica/Helvetica.woff") format("woff"), url("../fonts/Helvetica/Helvetica.ttf") format("truetype"), url("../fonts/Helvetica/Helvetica.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PostNoBillsJaffna";
  src: url("../fonts/PostNoBillsJaffna/PostNoBillsJaffna-SemiBold.eot");
  src: url("../fonts/PostNoBillsJaffna/PostNoBillsJaffna-SemiBold.woff2") format("woff2"), url("../fonts/PostNoBillsJaffna/PostNoBillsJaffna-SemiBold.woff") format("woff"), url("../fonts/PostNoBillsJaffna/PostNoBillsJaffna-SemiBold.ttf") format("truetype"), url("../fonts/PostNoBillsJaffna/PostNoBillsJaffna-SemiBold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

button,
input[type="search"],
input[type="tel"],
input[type="text"],
textarea {
  color: inherit;
  font: inherit;
  outline: inherit;
  /* FF 4-18 */
  /* FF 19+ */
  /* IE 10+ */
}

button:focus::-webkit-input-placeholder,
input[type="search"]:focus::-webkit-input-placeholder,
input[type="tel"]:focus::-webkit-input-placeholder,
input[type="text"]:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

button:focus:-moz-placeholder,
input[type="search"]:focus:-moz-placeholder,
input[type="tel"]:focus:-moz-placeholder,
input[type="text"]:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent;
}

button:focus::-moz-placeholder,
input[type="search"]:focus::-moz-placeholder,
input[type="tel"]:focus::-moz-placeholder,
input[type="text"]:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent;
}

button:focus:-ms-input-placeholder,
input[type="search"]:focus:-ms-input-placeholder,
input[type="tel"]:focus:-ms-input-placeholder,
input[type="text"]:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

a {
  text-decoration: none;
  color: #000000;
}