extends layouts/main.pug

block variables
    - var pageTitle = 'BeDj';
    - var scriptSrc = 'js/common.mjs';
    - var linkCss = 'css/styles.css';
    - var linkMinCss = 'css/styles.min.css';

block meta
    //<meta property="og:image" content="favicons/favicon-196x196.png">
    //<meta property="og:title" content="Сиб-сервис">
    //<meta property="og:description" content="Элекстроинструмент, техника, инструмент.">
    //<meta property="og:type" content="website">
    //<meta property="og:url" content="/">
    //<link rel="canonical" href="https://ilyashablovsky.github.io/SIB-Servise-server/">

block content
    .content

