extends layouts/main.pug

block variables
  - var youAreUsingPug = true;
  - var pageTitle = 'My first title with pug';
  - var scriptSrc = 'script.js';
  - var link = 'css/styles.css';

block content
  h1.header Pug - node template engine
  #container.col
    if youAreUsingPug
      p You are amazing
    else
      p(class = pageTitle) Get on it!
    p.
      Pug is a terse and simple templating language with a
      strong focus on performance and powerful features.
    p Звоните по телефону #[a(href='' class='123') 123-123]
    p Звоните по телефону 
      |
      | #[a(href='' class='123') 123-123]

//- block script
//-   script(src=scriptSrc)