include ../modules/mixins.pug
block variables

doctype html
html(lang='en')
  head
    title= pageTitle
    link(rel='stylesheet' href=link)
  body
    include ../modules/header.pug
    block content
    block scripts