@charset "utf-8";

@import "project.less";
@import 'project.less';
@import 'smart-grid.less';

.reset();

// Fonts
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica/HelveticaLight.woff2") format("woff2"),
    url("../fonts/Helvetica/HelveticaLight.woff") format("woff");

  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica/HelveticaRegular.woff2") format("woff2"),
    url("../fonts/Helvetica/HelveticaRegular.woff") format("woff");

  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica/HelveticaMedium.woff2") format("woff2"),
    url("../fonts/Helvetica/HelveticaMedium.woff") format("woff");

  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "PostNoBillsJaffna";
  src: url("../fonts/PostNoBillsJaffna/PostNoBillsJaffna-SemiBold.woff2") format("woff2"),
    url("../fonts/PostNoBillsJaffna/PostNoBillsJaffna-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PostNoBillsJaffna";
  src: url("../fonts/PostNoBillsJaffna/PostNoBillsJaffna-Medium.woff2") format("woff2"),
    url("../fonts/PostNoBillsJaffna/PostNoBillsJaffna-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 10px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
}

@media (max-width: 1200px) {
  html {
    font-size: 8.89px;
    font-size: calc(16px / 1.8);
  }
}


*,
*:before,
*:after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  hyphens: none;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
}

html,
body {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

body {
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: 300;
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  font-size: 1.6rem;
  line-height: 1.7rem;
  background: @grey;
  color: @whiteText;
}

.content {
  flex: 1 0 auto;
}

button {
  border: none;
  color: inherit;
  cursor: pointer;
}

button,
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="button"],
input[type="submit"] textarea {

  font: inherit;
  outline: none;
  box-sizing: border-box;
  // Reset appearance at Safari
  -webkit-appearance: none;

  &:focus::-webkit-input-placeholder {
    color: transparent;
  }

  &:focus:-moz-placeholder {
    color: transparent;
  }

  /* FF 4-18 */

  &:focus::-moz-placeholder {
    color: transparent;
  }

  /* FF 19+ */

  &:focus:-ms-input-placeholder {
    color: transparent;
  }

  /* IE 10+ */
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(221, 221, 221, 0.5);
  ;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(221, 221, 221, 0.5);
  ;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(221, 221, 221, 0.5);
  ;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgba(221, 221, 221, 0.8);
  ;
}

input[type=text]::-ms-clear,
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}


img {
  .ie10( {
      width: 100%;
    }

  );
}

a {
  text-decoration: none;
  color: #FFD707;
  transition: all .2s;
}

h1,
.h1 {
  font-family: "PostNoBillsJaffna", Arial, sans-serif;
  font-size: 4.8rem;
  font-weight: 500;
  color: @whiteText;
}

h2,
.h2 {
  font-family: "PostNoBillsJaffna", Arial, sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  color: @whiteText;
}

.text {
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.7rem;
  color: @whiteText;
}

.triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 6px 0;
  border-color: #fff transparent transparent;
  transition: 0.2s ease-in-out;
}

/*
 * 1. Header
**/
.logo__image-sm {
  display: block;
  width: 43px;
  height: 39px;
  background: url('../images/logo-sm@x1.5.png') no-repeat;
  background-size: contain;
}

.header {
  background: @black;

  .triangle {
    margin-left: 2px;
  }

  &__inner {
    .wrapper();

    padding: 0 4rem;
    height: 53px;
    display: flex;
    align-items: center;
  }

  &__nav {
    margin-left: 4.9rem;
    margin-right: 1.5rem;
  }

  &__search-form {
    margin-left: 1.5rem;
    margin-right: 2.8rem;
  }

  &__item {
    margin-left: auto;
    margin-right: auto;
  }

  &__user {
    margin-left: 1.4rem;
  }
}

.nav {
  font-size: 1.8rem;

  &__item {
    display: inline-block;
    margin-right: 1.8rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    color: @white;
  }
}

.button {
  padding: 7px 20px;
  display: inline-block;
  border: 0.7px solid #FFD707;
  border-radius: 9px;

  &_transpt {
    font-size: 1.8rem;
    letter-spacing: 0.02em;
    background: transparent;
  }
}

.search-form {
  position: relative;
  flex: 0 0 21.1%;
  max-width: 21.1%;

  &__input {
    padding-left: 2.1rem;
    padding-right: 3.5rem;
    border: 0.7px solid #FFFFFF;
    border-radius: 8px;
    width: 100%;
    height: 35px;
    background: transparent;
    color: rgba(221, 221, 221, 0.5);
    font-size: 14px !important;
  }

  &__button {
    position: absolute;
    top: 17.5px;
    right: 12px;
    transform: translateY(-50%);
    background: transparent;
  }
}

.tip-button {
  display: block;
  text-align: center;
  width: 36px;
  height: 36px;
  font-size: 2.2rem;
  line-height: 33px;
  color: @white;
  background: transparent;
  border: 2px solid #B8B8B8;
  border-radius: 50%;
}

.user {
  position: relative;

  &__link {
    padding: 0 15px;
    height: 53px;
    display: flex;
    align-items: center;
    background: @black;
    color: @white;

    &_dropdown {
      position: absolute;
      min-width: 119.25px;
      font-family: "PostNoBillsJaffna", Arial, sans-serif;
      font-weight: 500;

      .user__text {
        padding-left: 10px;
      }
    }
  }

  &__icon {
    &_headphone {
      position: relative;
      top: 4px;
      left: -5px;
    }
  }

  &__text {
    display: table-cell;
    vertical-align: middle;
    font-size: 2rem;
    overflow: hidden;
  }
}

/*
 * ! 1. Header
**/

.container {
  .wrapper();

  padding: 0;
  display: flex;
  width: 100%;
}

/*
 * 2. Sidebar
**/
.sidebar {
  padding-top: 2.6rem;
  flex: 0 0 17.36%;
  max-width: 17.36%;
  min-height: 100vh;
  background: @blackLight;
}

.sidebar-nav {
  .row-flex();

  &__item {
    .col-padding();

    margin-bottom: 10px;
    width: 100%;
  }

  &__link {
    padding: 10px 0 10px 4rem;
    display: block;
    width: 100%;

    &_active {
      background: #6A973E;
    }
  }
}

/*
 * ! 2. Sidebar
**/

/*
 * 3. Content
**/

.is-paid {
  color: #77C628 !important;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.105em;
}

.content {
  flex: 0 0 82.64%;
  max-width: 82.64%;

  &__inner {
    padding: 40px 0 0 22px;
  }

  &__h1 {
    margin-bottom: 2.7rem;
  }

  .text {
    margin-bottom: 3.6rem;
    max-width: 292px;
  }
}

.content__table {
  display: flex;
}

.table__row:not(:first-child) {
  padding: 18px 0;
  border: 1px solid #FFFFFF;
  border-radius: 7px;
}

.table {
  width: 89.66%;

  &__row {
    margin-bottom: 13px;
    display: flex;
  }

  &__header {
    text-align: center;
    font-size: 1.8rem;
    width: 12.25%;
    white-space: nowrap;

    &:nth-child(1) {
      width: 42%;
      text-align: left;
    }

    &:last-child {
      width: 7%;
    }
  }

  &__data {
    text-align: center;
    color: @greyText;
    width: 12.25%;

    &:nth-child(1) {
      padding-left: 20px;
      width: 42%;
      text-align: left;
    }

    &:last-child {
      width: 7%;
    }
  }
}

.table__row.table__row_sub {
  border: none;
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: 500;
  font-size: 2.2rem;
  color: @whiteText;
}

.content__brackets {
  margin-left: 10px;
}

.brackets {
  margin-top: 2rem;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__bracket {
    display: block;
    width: 16px;
    border-top: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;

    &_paid {
      margin-bottom: 3px;
    }

    &_not-paid {
      margin-top: 3px;
    }
  }

  &__text {
    margin-left: 13px;
  }
}

/*
 * ! 3. ! Content
**/

/*
 * 4. Footer
**/
.logo__image-lg {
  display: block;
  width: 54px;
  height: 49px;
  background: url('../images/logo-lg@x1.5.png') no-repeat;
  background-size: contain;
}

.social-block__icon {
  display: block;
  width: 26px;
  height: 26px;

  &_facebook {
    background: url('../images/facebook-icon@x1.5.png') no-repeat;
    background-size: contain;
  }

  &_instagram {
    background: url('../images/instagram-icon@x1.5.png') no-repeat;
    background-size: contain;
  }

  &_twitter {
    background: url('../images/twitter-icon@x1.5.png') no-repeat;
    background-size: contain;
  }
}

.footer {
  &__inner {
    margin-top: 30rem;
    margin-left: 22px;
    margin-right: 22px;
    padding-top: 3.2rem;
    padding-bottom: 6rem;
    border-top: 1px solid #B2B2B2;
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    .col-padding();
    flex: 0 0 33.33%;
    max-width: 33.33%;

    &:nth-child(1) {
      display: flex;
    }
  }

  &__logo {
    margin-right: 3.4rem;
  }
}

.feedback-info {
  text-align: center;

  span {
    display: block;
    margin-bottom: 15px;

    &:last-child {
      display: inline-block;
      border-bottom: 0.5px solid #D4D4D4;
    }

    a {
      color: @whiteText;
    }
  }
}

.social-block {
  display: block;

  &__item {
    display: inline-block;
  }

  &__item:not(:last-child) {
    margin-right: 2.7rem;
  }

  &__title {
    margin-bottom: 15px;
    font-size: 1.6rem;
    text-transform: uppercase;
    text-align: center;
  }

  &__inner {
    font-size: 0;
    text-align: center;
  }
}

.payment {
  text-align: center;
  text-transform: uppercase;

  &__title {
    margin-bottom: 5px;
  }

  &__icon {
    display: inline-block;

    &_visa {
      margin-right: 20px;
    }
  }
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 31px;
  background: @blackLight;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;

  span {
    margin-right: 13px;
    display: inline-block;
    font-size: 25px;
  }
}

/*
 * ! 4. Footer
**/