@import "project.less";

button,
input[type="search"],
input[type="tel"],
input[type="text"],
textarea {
  color: inherit;
  font: inherit;
  outline: inherit;

  &:focus::-webkit-input-placeholder {
    color: transparent;
  }

  &:focus:-moz-placeholder {
    color: transparent;
  }

  /* FF 4-18 */
  &:focus::-moz-placeholder {
    color: transparent;
  }

  /* FF 19+ */
  &:focus:-ms-input-placeholder {
    color: transparent;
  }

  /* IE 10+ */
}

a {
  text-decoration: none;
  color: #000000;
}

// body {
//   background: #000;
// }