@charset "utf-8";

@import "project.less";
@import 'project.less';
@import 'smart-grid.less';

.reset();

// Fonts
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica/Helvetica.woff2") format("woff2"),
    url("../fonts/Helvetica/Helvetica.woff") format("woff");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PostNoBillsJaffna";
  src: url("../fonts/PostNoBillsJaffna/PostNoBillsJaffna-SemiBold.woff2") format("woff2"),
    url("../fonts/PostNoBillsJaffna/PostNoBillsJaffna-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PostNoBillsJaffna";
  src: url("../fonts/PostNoBillsJaffna/PostNoBillsJaffna-Medium.woff2") format("woff2"),
    url("../fonts/PostNoBillsJaffna/PostNoBillsJaffna-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 10px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
}

@media (max-width: 1200px) {
  html {
    font-size: 8.89px;
    font-size: calc(16px / 1.8);
  }
}


*,
*:before,
*:after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  hyphens: none;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
}

html,
body {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

body {
  font-family: "Helvetica", Arial, sans-serif;
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  font-size: 1.6rem;
  line-height: 1.7rem;
  background: @grey;
  color: @whiteText;
}

.content {
  flex: 1 0 auto;
}

button {
  border: none;
  color: inherit;
  cursor: pointer;
}

button,
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="button"],
input[type="submit"] textarea {

  font: inherit;
  outline: none;
  box-sizing: border-box;
  // Reset appearance at Safari
  -webkit-appearance: none;

  &:focus::-webkit-input-placeholder {
    color: transparent;
  }

  &:focus:-moz-placeholder {
    color: transparent;
  }

  /* FF 4-18 */

  &:focus::-moz-placeholder {
    color: transparent;
  }

  /* FF 19+ */

  &:focus:-ms-input-placeholder {
    color: transparent;
  }

  /* IE 10+ */
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(221, 221, 221, 0.5);
  ;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(221, 221, 221, 0.5);
  ;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(221, 221, 221, 0.5);
  ;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgba(221, 221, 221, 0.8);
  ;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}


img {
  .ie10( {
      width: 100%;
    }

  );
}

a {
  text-decoration: none;
  color: #FFD707;
  transition: .2s;
}

h1,
.h1 {
  font-family: "PostNoBillsJaffna", Arial, sans-serif;
  font-size: 4.8rem;
  font-weight: 600;
  color: @whiteText;
}

h2,
.h2 {
  font-family: "PostNoBillsJaffna", Arial, sans-serif;
  font-size: 24px;
  color: @whiteText;
}

.text {
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 16px;
  color: @whiteText;
}

.triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 6px 0;
  border-color: #fff transparent transparent;
  transition: 0.2s ease-in-out;
}

.header {
  height: 53px;
  background: @black;

  .triangle {
    margin-left: 2px;
  }

  &__inner {
    .wrapper();

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    margin-left: 4rem;
  }

  &__nav {
    margin-left: 4.9rem;
    margin-right: 1.5rem;
  }

  &__search-form {
    margin-left: 1.5rem;
    margin-right: 2.8rem;
  }

  &__item {
    margin-left: auto;
    margin-right: auto;
  }

  &__user {
    margin-left: 1.4rem;
  }
}

.nav {
  &__item {
    display: inline-block;
    margin-right: 1.8rem;

    &:first-child {
      &:after {

      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    color: @white;
  }
}

.button {
  padding: 7px 20px;
  display: inline-block;
  border: 0.7px solid #FFD707;
  border-radius: 9px;

  &_transpt {
    background: transparent;
  }
}

.search-form {
  position: relative;
  flex: 0 0 20.8%;
  max-width: 20.8%;

  &__input {
    padding-left: 2.1rem;
    padding-right: 3.5rem;
    border: 0.7px solid #FFFFFF;
    border-radius: 8px;
    width: 100%;
    height: 35px;
    background: transparent;
    color: rgba(221, 221, 221, 0.5);
    font-size: 1.4rem !important;
  }

  &__button {
    position: absolute;
    top: 17.5px;
    right: 12px;
    transform: translateY(-50%);
    background: transparent;
  }
}

.tip-button {
  width: 36px;
  height: 36px;
  font-size: 22px;
  line-height: 24px;
  color: @white;
  background: transparent;
  border: 2px solid #B8B8B8;
  border-radius: 50%;
}

.user {
  position: relative;
  &__link {
    padding: 12px 15px;
    display: table;
    background: @black;
    color: @white;

    &_dropdown {
      position: absolute;
      min-width: 121px;
      font-family: "PostNoBillsJaffna", Arial, sans-serif;
      font-weight: 500;
    }
  }

  &__icon {
    &_headphone {
      position: relative;
      top: 4px;
      display: inline-block;
      width: 21px;
      height: 29px;
      background: url('../images/headphones@1.5x.png') no-repeat center center;
      background-size: cover;
    }
  }

  &__text {
    padding-left: 9px;
    display: table-cell;
    vertical-align: middle;
    font-size: 2rem;
    overflow: hidden;
  }
}